#home{
  background-image: url("./image/Friends-Forever-Best-HD-Wallpaper.jpg");
  /* background-color: #dc1c1c; */
  
}

.jumbotron{
  background-color: brown;

}


/* #bout{
  color: red;
} */


/* adding asterisk to required fields */
h4.required::after {
  content: '*';
  margin-right: 5px;
  color: red;
}

/* survey page */
#survey{
  background-color: antiquewhite;
}
 #header{
   text-align: center;
 }
